<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Помощь</title>
</head>

<body>
    <header th:insert="../block/nav.html :: nav"></header>

    <div class="container p-5">

        <div class="container">
            <h1 class="mt-5">ОРПОН</h1>
            <p class="lead">Отраслевое решение «паспортизация объектов недвижимости» - система управления адресной
                информацией и информацией об объектах
                недвижимости</p>
        </div>

        <div class="container">
            <h1 class="mt-5">Орпонизация</h1>
            <p class="lead">Процесс получения глобального идентификатора системы ОРПОН (по простому: ГИД ОРПОН) для
                указанного адреса</p>
        </div>

        <div class="container">
            <h1 class="mt-5">Сервис "Орпонизации"</h1>
            <p class="lead">Процедура изо дня в день орпонизирует предоставленные адреса</p>
        </div>

        <div class="container">
            <h1 class="mt-5">Корректный формат адреса</h1>
            <p class="lead">Зачастую по переданному адресу даже человек не может определить где это,
                что уж говорить о "1 и 0", по этому, что бы получить максимально достоверный результат,
                необходимо придерживаться определенного формата адреса:<br>
                <span class="m-5" style="width: 600px;"><b>Область, район, населенный пункт, улица, дом</b></span><br>
                Избегать посторонних слов, символов, цифр - которые никак не указывают на адрес.
            </p>
        </div>

        <div class="container">
            <h1 class="mt-5">API</h1>
            <p class="lead">Орпонизация одиночного адреса - это GET запрос на адрес /get_globalid?address={требуемый
                адрес}

            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 330px; width: 500px;">{
        Id: 1,
        GlobalId: 21904819,
        ParsingLevelCode: "FIAS_HOUSE",
        UnparsedParts: "",
        QualityCode: "UNDEF_05",
        CheckStatus: "VALIDATED",
        IsValid: true,
        Error: null,
        AddressOrpon: null
}</textarea>
            </div>
            </p>

            <p class="lead">Орпонизация списка адресов - это POST запрос на адрес /api/get_global_id.
                <br> И в ответ будет уникальный GIUD задачи, пример: deb74f17-d553-45ed-b45c-24cd5c9c3406.<br>
                Тело запроса при этом:
            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 150px; width: 800px;">
[
    {"Id":"1","Address":"Новосибирск Зорге 1"},
    {"Id":"2","Address":"165150, Архангельская обл, Вельский р-н, Вельск г., Гайдара ул., дом 14"}
]</textarea>
            </div>



            <p class="lead">Получить статус выполняемой задачи - это GET запрос на адрес /api/get_global_id/status?id={уникальный GUID полученый
                ранее}.
            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 180px; width: 800px;">{
    "message":"Я все завершил. Я КрасафчеГ!",
    "status":"COMPLETED",
    "dateStatus":"2021-02-07T07:44:38.768+00:00"
}
</textarea>
            </div>

            <p class="lead">Получить результат выполняемой задачи - это GET запрос на адрес /api/get_global_id/result?id={уникальный GUID полученый
                ранее}.
            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 330px; width: 500px;">[
        {
            Id: 1,
            GlobalId: 21904819,
            ParsingLevelCode: "FIAS_HOUSE",
            UnparsedParts: "",
            QualityCode: "UNDEF_05",
            CheckStatus: "VALIDATED",
            IsValid: true,
            Error: null,
            AddressOrpon: null
        },
        {
        "Id":2,
        "GlobalId":-1,
        "ParsingLevelCode":null,
        "UnparsedParts":null,
        "QualityCode":null,
        "CheckStatus":null,
        "IsValid":false,
        "Error":"Client received SOAP Fault from server: WsSearchAddrElByFullNamePortTypeImpl ошибка: #PON_0051 Please see the server log to find more detail regarding exact
    cause of the failure.",
    "AddressOrpon":null
    }
]</textarea>
            </div>
            </p>

        </div>

        <div class="container">
            <h1 class="mt-5">API служебное</h1>
            <p class="lead">Получить список компонентов сервиса - это GET запрос на адрес /orponing_service/all_services

            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 330px; width: 500px;">[
    {
        "name":"Фоновый сервис орпонизации",
        "id":"orponing-service",
        "description":null,
        "isStartable":true,
        "icon":"server"
    },
    {
        "name":"Сервис для разбора адресов",
        "id":"orponing",
        "description":null,
        "isStartable":false,
        "icon":"server"
    }...и т.д.
]</textarea>
            </div>
            </p>

            <p class="lead">Получить статус компонента - это GET запрос на адрес /orponing_service/status?service={id
                требуемого компонента}

            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 170px; width: 500px;">{
    "message":"Мне нечего делать",
    "status":"STOP",
    "dateStatus":"2021-02-01T04:08:56.886+00:00"
}</textarea>
            </div>
            </p>

            <p class="lead">Запуск компонента - это GET запрос на адрес /orponing_service/{id требуемого
                компонента}/start

            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 170px; width: 500px;">{
    "message":"Мне недосуг",
    "status":"START",
    "dateStatus":"2021-02-01T04:43:49.423+00:00"
}</textarea>
            </div>
            </p>

            <p class="lead">Получить лог сервиса - это POST запрос на адрес /log

            <div class="form-floating">
                В ответ будет получен полный лог за текущий день простым текстом
            </div>
            </p>

            <p class="lead">Получить список фалов архива - это GET запрос на адрес /log/files

            <div class="form-floating">
                ["2021-02-10.0","2021-02-11.0","2021-02-13.0","2021-02-14.0"]
            </div>
            </p>

            <p class="lead">Получить лог из архива - это GET запрос на адрес /log/read?file={имя требуемого файла}

            <div class="form-floating">
                В ответ будет получен полный лог из указанного файла
            </div>
            </p>

            <p class="lead">Очистить архив логов - это GET запрос на адрес /log/clear?password={пароль от операции}

            <div class="form-floating">
                <textarea class="form-control" tabindex="В ответ получим:" style="height: 170px; width: 500px;">{
    "message":"Я все завершил. Я КрасафчеГ!",
    "status":"COMPLETED",
    "dateStatus":"2021-02-01T04:43:49.423+00:00"
}</textarea>
            </div>
            </p>

        </div>
    </div>
    <script src="../js/common.js"></script>
    <script src="../js/about.js"></script>
</body>

</html>